::-webkit-scrollbar-thumb {
    background-color: #239EF8;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #017ED8;
}

::-webkit-scrollbar {
    width: 11px;
    height: 11px;
}

::-webkit-scrollbar-track-piece {
    background-color: #eee;
}

::-webkit-scrollbar-button {
    background-color: #eee;
    height: 0;
    width: 0;
}

::-webkit-scrollbar-corner {
    background-color: #ccc;
}

::-webkit-selection {
    color: white;
    background: rgb(15, 168, 244);
}

::selection {
    color: white;
    background: rgb(15, 168, 244);
}

.over-hidden {
    overflow: hidden;
}

.app-wrap {
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, .6);
    font-size: 14px;
    color: #333;
    z-index: 99999999;
}

.app-wrap .content {
    position: absolute;

    left: 50px;
    right: 50px;
    top: 50px;
    bottom: 50px;
    box-sizing: border-box;-box;

    overflow-y: auto;
}

.app-wrap .input {
    display: inline-block;
    margin-bottom: 0;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
}

.app-wrap .select {
    height: 3px;
}

.app-wrap .number {
    color: #1EC13A;
}

.app-wrap .table {
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    background-color: white;
    border-top: 8px solid #e7e7eb;
    border-bottom: 8px solid #e7e7eb;
}

.app-wrap .table td,
.app-wrap .table th {
    vertical-align: middle;
    padding: 8px;
    line-height: 20px;
    border: 1px solid #e7e7eb;
    text-align: left;
}

.app-wrap .table tr:hover td {
    background-color: #f3f3f3;
}

.json-wrap {
    border: none;
    margin-left: 2em;
}
.json-wrap .indent {
    padding-left: 2em;
    border-left: 1px dotted #bbb;
    position: relative;
}
.json-wrap .close>.indent {
    display: none;
}
.json-wrap .dot {
    display: none;
    color: #70910f;
    cursor: pointer;
}
.json-wrap .close>.dot {
    display: inline;
}
.json-wrap .expand {
    position: absolute;
    left: -20px;
    top: 7px;
    width: 0px;
    height: 0px;
    border-top: 8px solid #25ff25;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    border-bottom: 8px solid transparent;
    cursor: pointer;
}
.json-wrap .close>.expand {
    left: -16px;
    top: 2px;
    border-top: 8px solid transparent;
    border-right: 8px solid transparent;
    border-left: 8px solid #25ff25;
    border-bottom: 8px solid transparent;
}
.json-wrap .line {
    position: relative;
}
.json-wrap span {
    font-size: 18px;
    font-family: Arial;
}
.json-wrap .symbol {
    color: #01b001;
    font-weight: 700;
}
.json-wrap .colon {
    color: #70910f;
    font-weight: 700;
}
.json-wrap .key {
    color: #fc6868;
}
.json-wrap .undefined {
    color: #03ffff;
}
.json-wrap .null {
    color: #08afff;
}
.json-wrap .string {
    color: #00afff;
}
.json-wrap .number {
    color: #2cff47;
}
.json-wrap .boolean {
    color: #d53aff
}